::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(34, 34, 34, 0.85);
    scroll-behavior: smooth;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background: #a00103;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #3e0007;
    border-radius: 20px;
}

.App {
    text-align: center;
    background: #a00103;
    background: radial-gradient(circle, rgba(160, 1, 3, 1) 0%, #3e0007 100%);
    min-height: 100vh;
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.main-section {
    /* border-radius: 8px; */
    transition: all 0.3s ease-in;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-attachment: local;
    background-origin: padding-box;
    position: relative;
}

.main-section::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.main-section > * {
    position: relative;
    z-index: 2;
}

.active {
    transform: translateX(150px) translateY(0px) scale(0.7);
    border-radius: 8px;
    pointer-events: none;
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #222;
    }

    .App {
        max-width: 400px;
        margin: 0 auto;
        /* box-shadow: rgba(160, 1, 3, 0.5) 0px 3px 6px,
            rgb(67, 1, 5, 0.7) 0px 3px 6px; */
        border-radius: 12px;
        /* overflow: hidden; */
    }
}

/* .main-bg {
    height: 100vh;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.themoviedb.org/t/p/original/8QmaBWJVxC4NYUGl6z95MSDtLgb.jpg");
} */

.footerBg {
    background-color: #222222;
    border-top: 1px solid #e62429;
    padding-top: 16px;
}
