.App {
    text-align: center;
    background: rgb(160, 1, 3);
    background: radial-gradient(
        circle,
        rgba(160, 1, 3, 1) 0%,
        rgba(62, 0, 7, 1) 100%
    );
    min-height: 100vh;
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.main-section {
    border-radius: 8px;
    transition: all 0.3s ease-in;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-attachment: local;
    background-origin: padding-box;
    position: relative;
}

.main-section::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.main-section > * {
    position: relative;
    z-index: 2;
}

.main-section.active {
    transform: translateX(150px) translateY(0px) scale(0.7);
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #222;
    }

    .App {
        max-width: 400px;
        margin: 0 auto;
        /* box-shadow: rgba(160, 1, 3, 0.5) 0px 3px 6px,
            rgb(67, 1, 5, 0.7) 0px 3px 6px; */
        border-radius: 12px;
        /* overflow: hidden; */
    }
}

/* .main-bg {
    height: 100vh;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.themoviedb.org/t/p/original/8QmaBWJVxC4NYUGl6z95MSDtLgb.jpg");
} */
