.main-section {
    border-radius: 8px;
    transition: all 0.3s ease-in;
}

.main-section.active {
    transform: translateX(150px) translateY(80px) scale(0.7);
}

.figure-bg {
    z-index: -1;
    width: 100%;
}

.main-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    /* transform: scale(1.7); */
    /* object-position: 80px -70px; */
}
