.search__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #222222;
    color: #e62429;
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.search__form {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    padding: 8px 16px 8px 32px;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    outline: none;
    background: transparent;
    border: 1px solid #e62429;
    color: #e62429;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search__input:focus {
    transform: scale(0.98);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.search__searchIcon {
    position: absolute;
    left: 8px;
    color: #e62429;
    z-index: 1;
    font-size: 22px;
}

.search__scroll::-webkit-scrollbar {
    display: none;
}
